<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <figure class="figure">
        <img style="margin-top: 90px; height: 240px; width: auto;" class="figure-img img-fluid rounded"
          src="assets/svg/undraw_quite_town_mg2q.svg">
      </figure>
    </div>
    <div class="col-sm">
      <div class="card mt-5">
        <div class="card-body">
          <!-- Student sign Up form -->

          <form action="">
            <div class="form-group">
              <label for="emailId">Email Id</label>
              <input type="email" class="form-control" name="Email" id="emailId" aria-describedby="emailHelpId">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="Password" id="password"
                aria-describedby="emailHelpId">
              <label for="cpassword">Confirm Password</label>
              <input type="password" class="form-control" name="C-password" id="cpassword"
                aria-describedby="emailHelpId">
            </div>
          </form>


          <button class="btn btn-block btn-success" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
