<app-ministry-dashboard-nav-bar></app-ministry-dashboard-nav-bar>

<div class="jumbotron">
  <div class="container">
    <div>
      <h2 class="my-2">Ministry Dashboard</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top px-4 py-4" src="assets/svg/undraw_candidate_ubwv.svg" alt="">
            <div class="card-body">
              <h4 class="text-center">Ministry Officer Name</h4>
              <h5 class="text-center">State</h5>
            </div>
            <div class="card-footer">
              <a class="btn btn-danger btn-block" href="#">Logout</a>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
