<div class="form-group">
  <h1 class="h3 mb-3 font-weight-normal">Institute Sign in</h1>
  <form [formGroup]="instituteLoginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" name="instituteDiseCode" id="instituteDiseCode" class="form-control"
        placeholder="Institute DISE Code" formControlName="instituteDiseCode"
        [ngClass]="{ 'is-invalid': submitted && f.instituteDiseCode.errors }" />

      <div style="color: red;"
        *ngIf="f.instituteDiseCode.errors && (f.instituteDiseCode.touched || f.instituteDiseCode.dirty)">
        Enter correct DISE code
      </div>

      <input type="password" id="institutePassword" class="form-control my-2" placeholder="Password"
      formControlName="institutePassword"
        [ngClass]="{ 'is-invalid': submitted && f.institutePassword.errors }" />
      <div style="color: red;" *ngIf="f.institutePassword.touched || f.institutePassword.dirty">
        Enter Correct Password
      </div>

      <p class="my-3">Forgot Password! Click on <a href="#">Reset</a></p>

      <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="instituteDashboard">Sign in</button>
    </div>

  </form>
</div>