<app-navbar-landing-page></app-navbar-landing-page>

<div class="container text-center">
  <p class="display-4 my-4">About Us</p>
</div>
<div class="container">
  <h3 class="my-4" style="font-family: monospace; color: cornflowerblue; font-size: 32px;">Vision</h3>
  <p style="font-size: 18px;"><strong>ShikshaDwaar</strong> is one-stop solution through which various services starting
    from student application,
    application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National
    Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP).
  </p>
  <p style="font-size: 18px;">
    This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART'
    System for faster & effective disposal of Scholarships applications and delivery of funds directly into
    beneficiaries account without any leakages.
  </p>
  <h3 class="my-4" style="font-family: monospace; color: cornflowerblue; font-size: 32px;">Mission</h3>
  <p style="font-size: 18px;">
    The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims at
    providing common electronic portal for implementing various Scholarships schemes launched by Union Government, State
    Government and Union Territories across the country.
  </p>
  <h3 class="my-4" style="font-family: monospace; color: cornflowerblue; font-size: 32px;">Objectives</h3>
  <ul style="font-size: 18px;">
    <li>Ensure timely disbursement of Scholarships to students.</li>
    <li>Provide a common portal for various Scholarships schemes of Central and State Governments.</li>
    <li>Create a transparent database of scholars. Avoid duplication in processing.</li>
    <li>Harmonisation of different Scholarships schemes & normsApplication of Direct Benefit Transfer.</li>
  </ul>
  <h3 class="my-4" style="font-family: monospace; color: cornflowerblue; font-size: 32px;">Benefits</h3>
  <ul style="font-size: 18px;">
    <li><strong>Simplified process for the students:</strong>
      <ol>
        <li>All scholarships information available under one umbrella.</li>
        <li>Single integrated application for all scholarships</li>
      </ol>
    </li>
    <li><strong>Improved transparency :</strong>
      <ol>
        <li>System suggests the schemes for which a student is eligible.</li>
        <li>Duplicates can be reduced to the maximum extent</li>
      </ol>
    </li>
    <li><strong>Helps in standardisation :</strong>
      <ol>
        <li>Master data for Institutions and courses at all India level .</li>
        <li>Scholarships processing</li>
      </ol>
    </li>
    <li><strong>Serves as a decision support system (DSS) for Ministries and departments as up-to date information will
        be available on demand.</strong></li>
    <li><strong>Comprehensive MIS System to facilitate monitoring every stage of Scholarships distribution i.e. from
        student registration to delivery of funds</strong></li>
  </ul>
</div>
