<app-student-dashboard-nav-bar></app-student-dashboard-nav-bar>

<div class="container">
  <h1 class="text-center my-3" style="font-style: monospace;">
    Student Scholarship Form
  </h1>
</div>


<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <form action="">
        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Basic Details</h4>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="aadhar">Aadhar Number</label>
            <input type="text" class="form-control" id="aadhar">
          </div>
          <div class="form-group col-md-6">
            <label for="religion">Religion</label>
            <select id="religion" class="form-control">
              <option selected>Hindu</option>
              <option>Muslim</option>
              <option>Christian</option>
              <option>Sikh</option>
              <option>Indian</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fName">Father's Name</label>
            <input type="text" class="form-control" id="fName">
          </div>
          <div class="form-group col-md-6">
            <label for="mName">Mother's Name</label>
            <input type="Text" class="form-control" id="mName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="community">Community or Category</label>
            <input type="text" class="form-control" id="community">
          </div>
          <div class="form-group col-md-6">
            <label for="famIncome">Family Annual Income</label>
            <input type="text" class="form-control" id="famIncome">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Academic Details</h4>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="iName">Institute Name</label>
            <input type="text" class="form-control" id="iName">
          </div>
          <div class="form-group col-md-6">
            <label for="preClassCrc">Present Class/Course</label>
            <input type="text" class="form-control" id="preClassCrc">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="preClassYear">Present Class/Course Year</label>
            <input type="text" class="form-control" id="preClassYear">
          </div>
          <div class="form-group col-md-6">
            <label for="modeOfStudy">Mode of Study</label>
            <select id="modeOfStudy" class="form-control">
              <option selected>Government School</option>
              <option>Private School</option>
              <option>Home School</option>
              <option>Other</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="classStartDate">Course Start date</label>
            <input type="date" class="form-control" id="classStartDate">
          </div>
          <div class="form-group col-md-6">
            <label for="UniBoardName">University Board Name</label>
            <input type="text" class="form-control" id="UniBoardName">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="previousClassCourse">Previous Class/Course</label>
            <input type="text" class="form-control" id="previousClassCourse">
          </div>
          <div class="form-group col-md-4">
            <label for="PrePassYear">Previous Passing Year</label>
            <input type="text" class="form-control" id="PrePassYear">
          </div>
          <div class="form-group col-md-2">
            <label for="PrePassper">Previous Class %</label>
            <input type="text" class="form-control" id="PrePassper">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> 10th Class Details</h4>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tenRollNum">Roll Number</label>
            <input type="text" class="form-control" id="tenRollNum">
          </div>
          <div class="form-group col-md-6">
            <label for="tenBoardName">Board Name</label>
            <input type="text" class="form-control" id="tenBoardName">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tenPassYear">Passing Year</label>
            <input type="text" class="form-control" id="tenPassYear">
          </div>
          <div class="form-group col-md-6">
            <label for="tenPercentObt">Percentage Obtained</label>
            <input type="text" class="form-control" id="tenPercentObt">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> 12th Class Details</h4>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tweRollNum"> Roll Number</label>
            <input type="text" class="form-control" id="tweRollNum">
          </div>
          <div class="form-group col-md-6">
            <label for="tweBoardName">Board Name</label>
            <input type="text" class="form-control" id="tweBoardName">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="twePassYear">Passing Year</label>
            <input type="text" class="form-control" id="twePassYear">
          </div>
          <div class="form-group col-md-6">
            <label for="twePercentObt">Percentage Obtained</label>
            <input type="text" class="form-control" id="twePercentObt">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Fee Details</h4>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="admFees">Admission Fees</label>
            <input type="text" class="form-control" id="admFees">
          </div>
          <div class="form-group col-md-4">
            <label for="TuiFees">Tuition Fees</label>
            <input type="text" class="form-control" id="TuiFees">
          </div>
          <div class="form-group col-md-4">
            <label for="OthFees">Other Fees</label>
            <input type="text" class="form-control" id="OthFees">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Bank Details</h4>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="bankName">Bank Name</label>
            <input type="text" class="form-control" id="bankName">
          </div>
          <div class="form-group col-md-4">
            <label for="bankAccountNo">Account Number</label>
            <input type="text" class="form-control" id="bankAccountNo">
          </div>
          <div class="form-group col-md-4">
            <label for="bankifscCode">Bank IFSC Code</label>
            <input type="text" class="form-control" id="bankifscCode">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Other Personal Details</h4>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="typeOfDisablity">Type Of Disability</label>
            <input type="text" class="form-control" id="typeOfDisablity">
          </div>
          <div class="form-group col-md-4">
            <label for="isDisabled">Is Disabled:</label>
            <select id="isDisabled" class="form-control">
              <option>Yes</option>
              <option selected>No</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="perOfDisablity">% of Disability</label>
            <input type="text" class="form-control" id="perOfDisablity">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="maritalStatus">Marital Status</label>
            <select id="maritalStatus" class="form-control">
              <option selected>Single</option>
              <option>Married</option>
              <option>Divorced</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="ParentProfession">Parents Profession</label>
            <input type="text" class="form-control" id="ParentProfession">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Contact details</h4>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state">
          </div>
          <div class="form-group col-md-4">
            <label for="district">District</label>
            <input type="text" class="form-control" id="district">
          </div>
          <div class="form-group col-md-4">
            <label for="blocktulak">Block / Taluk</label>
            <input type="text" class="form-control" id="blocktulak">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="houseNo">House No</label>
            <input type="text" class="form-control" id="houseNo">
          </div>
          <div class="form-group col-md-4">
            <label for="streetNumber">Street Number</label>
            <input type="text" class="form-control" id="streetNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="pincode">Pincode</label>
            <input type="text" class="form-control" id="pincode">
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Scholarship Type</h4>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-6">
            <select id="maritalStatus" class="form-control">
              <option selected>Merit-Cum-Based Scholarship</option>
              <option>Pragati Scholarship</option>
              <option>Merit-Based Scholarship</option>
            </select>
          </div>
        </div>

        <h4 style="font-family: monospace;"><span><svg width="1em" height="1em" viewBox="0 0 16 16"
              class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg></span> Document Upload Section</h4>
        <hr>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="domicileCertificate">
          <label class="custom-file-label" for="domicileCertificate">Domicile Certificate</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="studentPhotograph">
          <label class="custom-file-label" for="studentPhotograph">Student Photograph</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="instituteIdCard">
          <label class="custom-file-label" for="instituteIdCard">Institute Id Card</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="casteCertificate">
          <label class="custom-file-label" for="casteCertificate">Caste Certificate</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="previousYearMarkSheet">
          <label class="custom-file-label" for="previousYearMarkSheet">Previous Year MarkSheet</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="feeReceiptofCurrentYear">
          <label class="custom-file-label" for="feeReceiptofCurrentYear">Fee Receipt of Current Year</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="bankPassbook">
          <label class="custom-file-label" for="bankPassbook">Bank Passbook</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="aadharCard">
          <label class="custom-file-label" for="aadharCard">Aadhar Card</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="tenClassMarkSheet">
          <label class="custom-file-label" for="tenClassMarkSheet">10th Class Maksheet</label>
        </div>
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="twelveClassMarkSheet">
          <label class="custom-file-label" for="twelveClassMarkSheet">12th Class Marksheet</label>
        </div>

      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-block btn-primary mb-4">Submit</button>
        </div>
        <div class="col">
          <button class="btn btn-block btn-secondary mb-4">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
