<app-institute-dashboard-nav-bar></app-institute-dashboard-nav-bar>

<div class="container">
  <div class="card my-4">
    <div class="card-header">
      <h2 class="text-center">Track Application Status</h2>
    </div>
    <div class="card-body row text-center">
      <div class="col-md-6">
        <figure class="figure">
          <img
            class="figure-img img-fluid"
            src="assets/svg/undraw_progress_indicator_p84k.svg"
            alt="Tracking Image"
            height="300"
            width="300"
          />
        </figure>
      </div>
      <div class="col-md-6">
        <h2>Application ID</h2>
        <h4>Agar Student ko filled details dikhaana hai toh</h4>
        <h4>Tracking Status</h4>
      </div>
    </div>
  </div>
</div>
