<app-student-dashboard-nav-bar></app-student-dashboard-nav-bar>




<div class="jumbotron">
  <div class="container">
    <div>
      <h2 class="my-3">Student Dashboard</h2>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <h4 class="text-center"> 
                <span>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-text"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z" />
                    <path fill-rule="evenodd"
                      d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                  </svg>
                </span> Scholarship Details
              </h4>
            </div>
            <hr>

            <div class="container">
              <div class="accordion" id="accordionExample">
                <div id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-info btn-block" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Merit-cum-Means Based Scholarship
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <p class="text-justify" style="font-size: 18px;">
                      Those applicants who are belonging to the economically backward caste/category such as SC/ ST/ OBC
                      or
                      other minorities’ categories are required to check if they come under the eligibility criteria
                      provided
                      by the Directorate of Technical education, Maharashtra Government.
                    </p>
                    <ul style="font-size: 18px;">
                      <li>The candidates applying for the Maharashtra Merit cum Means Scholarship 2017-2018 must have
                        completed 10th and 12th from a recognized board with a minimum of 60% marks in aggregate.</li>
                      <li>Maximum two members of a family belonging to the minority category can apply for the
                        scholarship.
                      </li>
                      <li>Students applying for the Maharashtra Merit cum Means Scholarship 2017-2018 must have Aadhaar
                        Card
                        enrolled in the State.</li>
                      <li>The applicant must produce all the documents prescribed by the state.</li>
                    </ul>
                  </div>
                </div>


                <div id="headingTwo">
                  <h2 class="mb-0">
                    <button class="my-2 btn btn-success btn-block collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Pragati Scholarship
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul style="font-size: 18px;">
                      <li>‘One Girl’ per family and it can be extended for Two Girl Child per family where the family
                        income
                        is less than Rs. 8 Lakh /annum (In case of married girl child, the income of parents/ in laws
                        whichever is higher is to be considered).
                      </li>
                      <li>
                        The selection of candidate will be made on merit based on qualifying examination to peruse the
                        respective Technical Degree/Diploma course from any of the AICTE approved institution. Amount
                        of
                        scholarship: Tuition Fee of Rs. 30,000/-.
                      </li>
                    </ul>
                  </div>
                </div>


                <div id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-warning btn-block collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Merit-Based Scholarship
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <h4 style="font-size: 18px;">NTSE (National Talent Search Examination)</h4>
                    <p><strong>Eligibility</strong></p>
                    <ul style="font-size: 18px;">
                      <li>Candidates must be an Indian national.</li>
                      <li>A minimum of <strong>60% marks</strong> Class IX is required. SC, ST and PH candidates will
                        need
                        <strong>55% marks</strong> in Class IX.</li>
                      <li>Candidate must be studying in a recognized school in their respective State .</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
			</div>
			

      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top py-4 px-4" src="assets/svg/undraw_Reading_book_re_kqpk.svg" alt="Student">
          <div class="card-body">
            <h4 class="text-center">Divyue Sharma</h4>
            <h5 class="text-center">Tracking Id</h5>
            <h5 class="text-center">Institute Name</h5>
					</div>
					<div class="card-footer">
						<a class="btn btn-danger btn-block" href="#">Logout</a>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
