<div class="container">
  <div class="text-center alert alert-danger" role="alert">
    Please Sign Up and then try to register.
  </div>

  <div class="row">
    <div class="col-sm text-center">
      <figure class="figure">
        <img style="margin-top: 90px; height: 240px; width: auto;" class="figure-img img-fluid rounded"
          src="assets/svg/undraw_Graduation_ktn0.svg">
      </figure>
    </div>

    <div class="col-sm">
      <div class="container">
        <ul class="nav justify-content-center nav-pills my-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
              aria-controls="pills-home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false">Create Profile</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card">
              <div class="card-body">


                <form [formGroup]>
                  <div class="form-group">
                    <label for="emailId">Email Id</label>
                    <input type="email" class="form-control" name="Email" id="emailId" aria-describedby="emailHelpId">
                    <div *ngIf="" style="color: red;">
                      Email Id is required
                    </div>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="Password" id="password"
                      aria-describedby="emailHelpId">

                    <label for="cpassword">Confirm Password</label>
                    <input type="password" class="form-control" name="C-password" id="cpassword"
                      aria-describedby="emailHelpId">
                  </div>
                </form>


                <button class="btn btn-block btn-success" type="submit">Submit</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="card">
              <div class="card-body">
                <!-- Student sign Up form -->

                <app-register-student></app-register-student>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>